.item {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.match,
    &.active {
        cursor: unset;
        &::after {
            opacity: 0;
        }
    }

    &.match {
        opacity: 0.5;
        transform: scale(0.95);
    }

    &.active {
        transform: scale(1.05);
        z-index: 1;
        box-shadow: 0 0 1em #000a;
    }

    &::after {
        transition: opacity 0.3s;
        content: "";
        position: absolute;
        inset: 0px;
        z-index: 2;
        background: rgba(200, 200, 200, 1);
    }

    cursor: pointer;
    transition-property: box-shadow transform;
    transition-duration: 0.3s;
    position: relative;
    border-radius: 0.25em;
    overflow: hidden;
    transform: scale(1);
}

#game {
    #plan {
        max-width: 76rem;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(6, auto);
    }
}
