.item {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    border-radius: 0.25em;
    transition-duration: 0.3s;
    transition-property: box-shadow transform;

    &.match,
    &.active {
        cursor: unset;

        &::after {
            opacity: 0;
        }
    }

    &.match {
        opacity: 0.5;
        transform: scale(0.95);
    }

    &.active {
        z-index: 1;
        transform: scale(1.05);
        box-shadow: 0 0 1em #000a;
    }

    &::after {
        content: "";
        z-index: 2;
        inset: 0px;
        position: absolute;
        transition: opacity 0.3s;
        background: rgba(200, 200, 200, 1);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#game {
    #plan {
        gap: 1rem;
        display: grid;
        margin: 0 auto;
        max-width: 76rem;
        grid-template-columns: repeat(6, auto);
    }
}
